docopt==0.6.2
flake8==3.0.4
jedi==0.9.0
mccabe==0.5.2
prompt-toolkit==1.0.8
ptpython==0.36
pycodestyle==2.0.0
pyflakes==1.2.3
PyGithub==1.29
Pygments==2.1.3
requests==2.11.1
six==1.10.0
wcwidth==0.1.7
